.calculator{
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: space-around;
}

.screen{
    height: 4em;
    width: 90%;
    margin: 0 1em;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen > div{
    font-size: xx-large;
}
.number, .operator{
    border: 2px solid black;
    padding: 2em;
    border-radius: 4px;
    width: 1em;
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    margin: 0.5em 0.2em;
}


.numbers{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    align-items: center;
    justify-content: center;
}

.operators{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.submit{
    background-color: Blue;
    color: white;
    height: 3em;
    font-weight: bolder;
    padding: 0em 1em;
    display: flex;
    align-items: center;
    border-radius: 5px;
    width: 10em;
    white-space: nowrap;
    border: 1px solid blue;
}

.submit:hover{
    cursor: pointer;
    background-color: white;
    color: blue;
}
.operations-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}